.App {
  text-align: center;
}
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500&display=swap");

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body {
  font-optical-sizing: auto;
  font-family: "Montserrat rev=1";
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: initial;
}
h1{
  text-align: center;
}
.App {
  display: flex;
  position: absolute;
  max-width: 100%;
  top: 50%;
  transform: translate(0, -50%);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
